/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  /* stylelint-disable */
  /* stylelint-enable */ }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: '';
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir='rtl'] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/montserrat-v12-latin_cyrillic-ext-500.woff2") format("woff2"), url("../fonts/montserrat-v12-latin_cyrillic-ext-500.woff") format("woff"); }

/* montserrat-500italic - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"), url("../fonts/montserrat-v12-latin_cyrillic-ext-500italic.woff2") format("woff2"), url("../fonts/montserrat-v12-latin_cyrillic-ext-500italic.woff") format("woff"); }

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/montserrat-v12-latin_cyrillic-ext-700.woff2") format("woff2"), url("../fonts/montserrat-v12-latin_cyrillic-ext-700.woff") format("woff"); }

/* Mon Amour One Medium-550 - latin_cyrillic */
@font-face {
  font-family: "Mon Amour One Medium";
  font-weight: normal;
  font-style: normal;
  src: local("Mon Amour One Medium"), local("Mon-Amour-One-Medium"), url("../fonts/mon-amour-one-medium.woff") format("woff"), url("../fonts/mon-amour-one-medium.woff2") format("woff2"); }

* {
  font-family: Mon Amour One Medium, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  line-height: 1.5; }
  * ::-webkit-scrollbar {
    width: 8px; }
  * ::-webkit-scrollbar-button {
    height: 0; }
  * ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: #ffffff; }
  * ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: #da688b; }
    * ::-webkit-scrollbar-thumb:hover {
      background-color: #9f3e85; }

html {
  height: 100%; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

img {
  max-width: 100%;
  height: auto; }

a,
blockquote {
  text-decoration: none; }

.page-header {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 115px;
  background-color: #fff7ec;
  background-image: url(../img/second-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  -webkit-filter: drop-shadow(0 0 10px #000000);
          filter: drop-shadow(0 0 10px #000000);
  z-index: 2; }
  .page-header__inner {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px 60px; }
    @media (max-width: 1050px) {
      .page-header__inner {
        padding: 10px 35px; } }
    @media (max-width: 760px) {
      .page-header__inner {
        padding: 10px 20px; } }
    @media (max-width: 450px) {
      .page-header__inner {
        padding: 10px 10px; } }
  .page-header__logo {
    position: absolute;
    margin-left: -75px;
    top: 5px;
    left: 50%;
    width: 150px;
    z-index: 10; }
  .page-header__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 20px;
    right: 100px;
    color: #9f3e85;
    line-height: 1; }
    @media (max-width: 1150px) {
      .page-header__text {
        right: 40px; } }
    @media (max-width: 1050px) {
      .page-header__text {
        right: 10px; } }
    @media (max-width: 850px) {
      .page-header__text {
        right: 20px; } }
    @media (max-width: 560px) {
      .page-header__text {
        display: none; } }

.page-main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 80px 0;
  overflow: auto;
  background-color: #fefcef;
  background-image: url(../img/main-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 1; }
  @media (max-width: 1000px) {
    .page-main {
      background-position: right; } }
  .page-main__inner {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 60px; }
    @media (max-width: 1050px) {
      .page-main__inner {
        padding: 0 35px; } }
    @media (max-width: 760px) {
      .page-main__inner {
        padding: 0 20px; } }
    @media (max-width: 450px) {
      .page-main__inner {
        padding: 0 10px; } }
  .page-main__heading {
    display: none; }

.page-footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  bottom: 0;
  height: 80px;
  background-color: #fff7ec;
  background-image: url(../img/second-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  -webkit-filter: drop-shadow(0 0 10px #000000);
          filter: drop-shadow(0 0 10px #000000);
  z-index: 1; }
  .page-footer__inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px 60px; }
    @media (max-width: 1050px) {
      .page-footer__inner {
        padding: 10px 35px; } }
    @media (max-width: 760px) {
      .page-footer__inner {
        padding: 10px 20px; } }
    @media (max-width: 450px) {
      .page-footer__inner {
        padding: 10px 10px; } }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  max-width: 1280px;
  z-index: -1; }
  @media (max-width: 850px) {
    .main-nav {
      position: absolute;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 0;
      padding-top: 50px;
      width: 100%;
      left: 0;
      right: 0;
      top: 114px;
      background-color: #ffffff;
      border-bottom: 2px solid #9f3e85;
      background-image: url(../img/second-background.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 -120px;
      -webkit-transform-origin: top;
              transform-origin: top;
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transition: all .5s;
      transition: all .5s; } }
  .main-nav--active {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 80px; }
    @media (max-width: 1050px) {
      .main-nav__list {
        padding: 0 50px; } }
    @media (max-width: 950px) {
      .main-nav__list {
        padding: 0 70px; } }
    @media (max-width: 850px) {
      .main-nav__list {
        padding: 0; } }
  .main-nav__list-part-one, .main-nav__list-part-two {
    width: 27%; }
    @media (max-width: 850px) {
      .main-nav__list-part-one, .main-nav__list-part-two {
        display: block;
        margin: 0;
        width: 100%;
        text-align: center; } }
  @media (max-width: 850px) {
    .main-nav__list-part-one {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .main-nav__item {
    position: relative;
    font-size: 22px;
    list-style-type: none; }
  .main-nav__link {
    color: #da688b;
    -webkit-transition: all .8s;
    transition: all .8s; }
    @media (max-width: 850px) {
      .main-nav__link {
        display: block;
        padding: 10px;
        background-color: #ffffff;
        border-top: 2px solid #9f3e85;
        background-image: url(../img/second-background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; } }
    .main-nav__link:hover {
      color: #9f3e85; }
    .main-nav__link--active {
      color: #9f3e85; }

.burger {
  display: none;
  position: absolute;
  left: 40px;
  top: 40px;
  background-color: transparent; }
  @media (max-width: 850px) {
    .burger {
      display: block; } }
  .burger__item {
    position: relative;
    width: 40px;
    height: 30px;
    background-color: transparent;
    border: none; }
  .burger__item:before, .burger__item:after {
    -webkit-transition: all .3s;
    transition: all .3s;
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #9f3e85; }
  .burger__item:before {
    top: 0px; }
  .burger__item:after {
    bottom: 0px; }
  .burger__name {
    position: absolute;
    left: 0;
    top: 0px;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 6px;
    font-size: 0; }
  .burger__name:before, .burger__name:after {
    -webkit-transition: all .3s;
    transition: all .3s;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #9f3e85; }
  .burger--active:before, .burger--active:after {
    opacity: 0; }
  .burger--active:before {
    -webkit-transform: translateY(15px);
            transform: translateY(15px); }
  .burger--active:after {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); }
  .burger--active span:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition-delay: .2s;
            transition-delay: .2s; }
  .burger--active span:after {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    -webkit-transition-delay: .2s;
            transition-delay: .2s; }

.services {
  /* stylelint-disable */
  /* stylelint-enable */ }
  .services__heading {
    margin: 0;
    text-align: center;
    font-size: 38px;
    color: #dc923e;
    text-shadow: 1px 1px 2px #000000; }
  .services__part-one {
    margin: 50px 150px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 50px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 250px 30px 250px;
    grid-template-rows: repeat(2, 250px);
    grid-column-gap: 50px;
    grid-row-gap: 30px;
        grid-template-areas: 'hairdressing-services   eyebrow-modeling' 'depilation              manicure-pedicure'; }
    @media (max-width: 1200px) {
      .services__part-one {
        margin: 50px 100px; } }
    @media (max-width: 950px) {
      .services__part-one {
        margin: 50px 50px; } }
    @media (max-width: 850px) {
      .services__part-one {
        margin: 50px 100px;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: (250px)[4];
        grid-template-rows: repeat(4, 250px);
            grid-template-areas: 'hairdressing-services' 'eyebrow-modeling' 'depilation' 'manicure-pedicure'; } }
    @media (max-width: 560px) {
      .services__part-one {
        margin: 50px 10px; } }
  .services__part-two {
    margin: 50px 150px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 50px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 250px;
    grid-template-rows: 250px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
        grid-template-areas: 'cosmetology   massage'; }
    @media (max-width: 1200px) {
      .services__part-two {
        margin: 50px 100px; } }
    @media (max-width: 950px) {
      .services__part-two {
        margin: 50px 50px; } }
    @media (max-width: 850px) {
      .services__part-two {
        margin: 50px 100px;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 250px 250px;
        grid-template-rows: 250px 250px;
            grid-template-areas: 'cosmetology' 'massage'; } }
    @media (max-width: 560px) {
      .services__part-two {
        margin: 50px 10px; } }
  .services__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
    font-weight: bold; }
  .services__phone-text {
    color: #dc923e;
    text-shadow: 1px 1px 2px #000000; }
  .services__phone-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .services__phone-icon {
    display: inline-block;
    margin-top: 12px;
    margin-right: 5px; }
  .services__phone-link {
    color: #da688b;
    -webkit-transition: all .8s;
    transition: all .8s;
    text-shadow: 1px 1px 2px #000000; }
    .services__phone-link:hover {
      color: #9f3e85; }

.product-card {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid #da688b;
  cursor: pointer;
  background-color: #dddddd;
  -webkit-transition: all .8s;
  transition: all .8s; }
  .product-card:hover {
    border: 2px solid #9f3e85; }
    .product-card:hover .product-card__name {
      color: #9f3e85; }
  .product-card__name {
    display: inline-block;
    margin: 170px 6px 0 20px;
    padding: 0;
    vertical-align: top;
    font-size: 30px;
    line-height: 1;
    color: #ffffff;
    -webkit-transition: all .8s;
    transition: all .8s;
    text-shadow: 1px 1px 2px #000000; }
  .product-card__manicure-pedicure {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: manicure-pedicure;
    background-image: url(../img/services/manicure-pedicure.png); }
  .product-card__depilation {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: depilation;
    background-image: url(../img/services/depilation.png); }
  .product-card__eyebrow-modeling {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: eyebrow-modeling;
    background-image: url(../img/services/eyebrow-modeling.png); }
  .product-card__hairdressing-services {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: hairdressing-services;
    background-image: url(../img/services/hairdressing-services.png); }
  @media (max-width: 850px) {
      .product-card__manicure-pedicure {
    -ms-grid-row: 4;
    -ms-grid-column: 1; }
      .product-card__depilation {
    -ms-grid-row: 3;
    -ms-grid-column: 1; }
      .product-card__eyebrow-modeling {
    -ms-grid-row: 2;
    -ms-grid-column: 1; }
      .product-card__hairdressing-services {
    -ms-grid-row: 1;
    -ms-grid-column: 1; } }
  .product-card__cosmetology {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: cosmetology;
    background-image: url(../img/services/cosmetology.png); }
  .product-card__massage {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: massage;
    background-image: url(../img/services/massage.png); }
  @media (max-width: 850px) {
      .product-card__cosmetology {
    -ms-grid-row: 1;
    -ms-grid-column: 1; }
      .product-card__massage {
    -ms-grid-row: 2;
    -ms-grid-column: 1; } }

.dividing-strip {
  position: relative;
  margin: 20px auto;
  width: 75%;
  border-top: 3px solid #dc923e; }

.price-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #ffffff;
  background-image: url(../img/second-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-shadow: 1px 1px 1px #000000; }
  .price-list__heading {
    font-size: 24px;
    padding: 5px;
    text-align: center;
    color: #dc923e;
    border: 1px solid #000; }
  .price-list__name {
    padding: 5px;
    width: 75%;
    font-size: 20px;
    color: #9f3e85;
    border: 1px solid #000; }
  .price-list__price {
    padding: 5px;
    width: 25%;
    text-align: center;
    font-size: 19px;
    color: #da688b;
    border: 1px solid #000; }
  .price-list__important {
    font-size: 18px;
    padding: 5px;
    text-align: center;
    color: #dc923e;
    border: 1px solid #000; }

.discounts {
  /* stylelint-disable */
  /* stylelint-enable */ }
  .discounts__heading {
    margin: 0;
    text-align: center;
    font-size: 38px;
    color: #dc923e;
    text-shadow: 1px 1px 2px #000000; }
  .discounts__items {
    margin: 50px 150px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 50px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 250px;
    grid-template-rows: 250px;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
        grid-template-areas: 'weight-loss-course   .'; }
    @media (max-width: 1200px) {
      .discounts__items {
        margin: 50px 100px; } }
    @media (max-width: 950px) {
      .discounts__items {
        margin: 50px 50px; } }
    @media (max-width: 850px) {
      .discounts__items {
        margin: 50px 100px;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: (250px)[1];
        grid-template-rows: repeat(1, 250px);
            grid-template-areas: 'weight-loss-course'; } }
    @media (max-width: 560px) {
      .discounts__items {
        margin: 50px 10px; } }

.discount-card {
  -webkit-perspective: 800px;
          perspective: 800px; }
  .discount-card:hover .discount-card__inner--front, .discount-card:hover .discount-card__inner--back {
    border: 2px solid #9f3e85; }
  .discount-card:hover .discount-card__name {
    color: #9f3e85; }
  .discount-card__weight-loss-course {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: weight-loss-course; }
  @media (max-width: 850px) {
      .discount-card__weight-loss-course {
    -ms-grid-row: 1;
    -ms-grid-column: 1; } }
  .discount-card__inner {
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-transition: all 1.2s;
    transition: all 1.2s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }
    .discount-card__inner--front, .discount-card__inner--back {
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      background-color: #dddddd;
      border: 2px solid #da688b;
      -webkit-transition: all 0.8s;
      transition: all 0.8s; }
    .discount-card__inner--front {
      background-image: url(../img/discounts/weight-loss-course.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top; }
    .discount-card__inner--back {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      background-image: url(../img/second-background.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      text-align: center; }
  .discount-card--flipped {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg); }
  .discount-card__name {
    display: inline-block;
    margin: 170px 6px 0 20px;
    padding: 0;
    vertical-align: top;
    font-size: 30px;
    line-height: 1;
    color: #ffffff;
    -webkit-transition: all .8s;
    transition: all .8s;
    text-shadow: 1px 1px 2px #000000; }
  .discount-card__description {
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 6px;
    line-height: 1.4;
    padding: 0;
    vertical-align: top;
    font-size: 28px;
    color: #da688b;
    -webkit-transition: all .8s;
    transition: all .8s;
    text-shadow: 1px 1px 2px #000000; }

.contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contacts__heading {
    display: none; }
  .contacts__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
    @media (max-width: 900px) {
      .contacts__description {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .contacts__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 70px;
    font-weight: bold;
    font-size: 28px;
    color: #dc923e;
    -webkit-transition: all .8s;
    transition: all .8s;
    text-shadow: 1px 1px 2px #000000; }
  .contacts__phone-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .contacts__phone-icon {
    display: inline-block;
    margin-top: -17px;
    margin-right: 5px; }
  .contacts__phone-heading {
    margin-bottom: 50px; }
  .contacts__phone-link {
    margin-bottom: 30px;
    color: #da688b;
    -webkit-transition: all .8s;
    transition: all .8s; }
    .contacts__phone-link:hover {
      color: #9f3e85; }
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 35%; }
    @media (max-width: 900px) {
      .contacts__list {
        display: block;
        width: 100%;
        margin-bottom: 70px; } }
  .contacts__list-item {
    display: inline-block;
    font-weight: bold;
    font-size: 28px;
    color: #dc923e;
    -webkit-transition: all .8s;
    transition: all .8s;
    text-shadow: 1px 1px 2px #000000; }
    @media (max-width: 900px) {
      .contacts__list-item {
        margin-right: 50px;
        margin-bottom: 50px; } }
    .contacts__list-item span, .contacts__list-item time {
      color: #9f3e85; }

.map {
  margin: 15px auto 0;
  width: 60%;
  height: 370px;
  border: 2px solid #9f3e85; }
  @media (max-width: 900px) {
    .map {
      margin-top: 0;
      width: 100%; } }

.social {
  margin-top: 10px; }
  .social__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .social__link:hover .social__text {
      color: #9f3e85; }
  .social__icon {
    margin-top: 5px;
    margin-right: 10px; }
  .social__text {
    font-size: 20px;
    color: #da688b;
    -webkit-transition: .8s all;
    transition: .8s all; }

/*# sourceMappingURL=style.css.map */
