.product-card {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid $second-color-light;
  cursor: pointer;
  background-color: $gray-light;
  // filter: grayscale(99%);
  transition: all .8s;

  &:hover {
    // filter: grayscale(0);
    border: 2px solid $second-color;

    .product-card__name {
      color: $second-color;
    }
  }

  &__name {
    display: inline-block;
    margin: 170px 6px 0 20px;
    padding: 0;
    vertical-align: top;
    font-size: 30px;
    line-height: 1;
    color: $white;
    transition: all .8s;
    text-shadow: 1px 1px 2px $black;
  }

  &__manicure-pedicure {
    grid-area: manicure-pedicure;
    background-image: url(../img/services/manicure-pedicure.png);
  }

  &__depilation {
    grid-area: depilation;
    background-image: url(../img/services/depilation.png);
  }

  &__eyebrow-modeling {
    grid-area: eyebrow-modeling;
    background-image: url(../img/services/eyebrow-modeling.png);
  }

  &__hairdressing-services {
    grid-area: hairdressing-services;
    background-image: url(../img/services/hairdressing-services.png);
  }

  &__cosmetology {
    grid-area: cosmetology;
    background-image: url(../img/services/cosmetology.png);
  }

  &__massage {
    grid-area: massage;
    background-image: url(../img/services/massage.png);
  }
}
